@font-face {
    font-family: 'Fraunces';
    src: url('fonts/Fraunces.ttf');
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('fonts/PlusJakartaSans.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    padding: 16px 100px 80px;
    background-color: #1E2229;
}

main {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

ul li:hover {
    color: #E07A5F;
    cursor: pointer;
}

.logo-and-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.hero {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 300px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-sign-up {
    color: #FAF8F5;
    background-color: #E07A5F;
    width: 100px;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
}

.hero-sign-up:hover {
    background-color: #C9654B;
    cursor: pointer;
}

.hero-img {
    width: 500px;
    height: 300px;
    border-radius: 8px;
}

.heading {
    font-family: 'Fraunces';
}

.subtext {
    font-family: 'PlusJakartaSans';
}

.light-heading {
    color: #FAF8F5;
}

.dark-heading {
    color: #1E2229;
}

.light-subtext {
    color: #A7A9BE;
}

.dark-subtext {
    color: #4A4E69;
}

.icons-main-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px 150px 64px;
}

.icons-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
}

.icons {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
    gap: 8px;
}

.icon-img {
    border-radius: 8px;
}